.imgs_container {
    position: relative;
    width: 500px;
    height: 300px;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.imgs_container .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgs_container .before {
    width: 100%;
}

.imgs_container .after {
    clip-path: polygon(0 0, 0 101%, var(--x) 101%, var(--x) 0);
    width: 100%;
}

.divider {
    --bg : #f0f5f5;
    position: absolute;
    top: 0;
    left: var(--x);
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background: var(--bg);
    z-index: 11;
    cursor: e-resize;
}

.divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 15px;
    background: var(--bg);
    border-radius: 50px;
}

.divider.clikced {
    pointer-events: none;
}