* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main.app {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: #badfd9;
}